body {
  background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#content {
	position: absolute;
	top: 35%;
	bottom: 10%;
	height: 60%;
	left: 25%;
	right: 20%;
	width: 50%;
	background-color: rgba(0,26,52,0.5);
	border: solid white;
	border-radius: 20px;
}

#guess {
	/*position: absolute;
	top: 35%;*/
	height: 10%;
	left: 10%;
	right: 10%;
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	border: none;
	background: rgba(255, 255, 255, 0.8);
	/*border-color: transparent;*/
/*	color: transparent;
	text-shadow: 0 0 0 #000000;
	&:focus {
      outline: none;
	}*/
}
#guess{
	height: 5vh;
	font-size: 2vh;
	padding: 0.5em;
	text-transform: uppercase;
	border-radius: 2.5vh;
} 
/* form {
	position: absolute;
	top: 18%;
	height: 15%;
	width: 100%;
	margin: 0.5em auto;
} */

.title {
	position: absolute;
	top: 8%;
	height: 10%;
	width: 100%;
}

.title-text{
  /* text-transform: uppercase;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgba(235, 239, 241, 0.924);
	font-size: calc(80px + 2vh);
	margin: 0 auto; */
	
	color: white;
    font: 900 15vmin/20vh cookie, cursive;
    text-align: center;
    filter: drop-shadow(.05em .05em orange);
	mix-blend-mode: difference;
	margin: auto;
}

.title button{
  width: 12%;
}

#timer{
  font-size: calc(50px + 2vh);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 80%;
  color: aqua;
}

#select {
  font-size: calc(30px + 2vh);
  color: wheat;
  
}

#guessWord{
	top: 30%;
	font-family: Impact, Charcoal, sans-serif;
	font-size: calc(30px + 2vh);
}